{% extends 'base.html' %}
{% load static %}
{% block title %}{% if object.pk %}Edit{% else %}Create{% endif %} a summer picnic reservation{% endblock %}
{% block header %}{% if object.pk %}Edit{% else %}Create{% endif %} a summer picnic reservation{% endblock %}
{% block content %}
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        <div class="table-responsive card">
            <table class="table align-middle table-hover panel-body attr-table table-bordered">
                {{ form.as_table }}
            </table>
        </div>
        <br />
        <input type="submit" value="Save" class="btn btn-success" />
        <a href="{% url 'summer_picnic:reservation_list' %}" class="btn btn-danger">Cancel</a>
    </form>
</div>

{% endblock %}