{% extends 'base.html' %}
{% load static %}
{% block title %}JCU Ball Reservations{% endblock %}
{% block header %}
{% if filter %}
Showing JCU Ball reservations matching '{{ filter }}'
{% else %}
JCU Ball Reservations {% now "Y" %}
{% endif %}
{% endblock %}
{% block content %}
<div class="row mb-3 mt-5">
  <div class="col">
    <a href="{% url 'jcu_ball:reservation_add' %}" class="btn btn-primary">Add</a>
    <a href="{% url 'jcu_ball:reservation_export' %}" class="btn btn-info">Export</a>
  </div>
  <div class="col">
    <form class="d-flex" method="get" action="{% url 'jcu_ball:reservation_list' %}">
      {% csrf_token %}
      <input class="form-control me-2" type="search" placeholder="Search by name" aria-label="Search" name="filter">
      <button class="btn btn-success" type="submit">Search</button>
    </form>
  </div>
</div>
<div class="card mb-3">
  <div class="table-responsive" >
    <table class="table align-middle table-hover panel-body attr-table table-striped table-bordered">
      <thead>
        <tr class="table-info text-center">
          <th style="width: 20%" scope="col">Name</th>
          <th style="width: 15%" scope="col">Total Attendees</th>
          <th style="width: 10%" scope="col">Chicken</th>
          <th style="width: 10%" scope="col">Beef</th>
          <th style="width: 10%" scope="col">Fish</th>
          <th style="width: 15%" scope="col">Payment made</th>
          <th style="width: 20%" scope="col">Comments</th>
          <th style="width: 15%" scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for res in page_obj %}
        <tr class="text-center">
          <td>{{ res.full_name }}</td>
          <td>{{ res.total_attendees }}</td>
          <td>{{ res.chicken }}</td>
          <td>{{ res.beef }}</td>
          <td>{{ res.fish }}</td>
          <td>{{ res.has_paid }}</td>
          <td>{{ res.comments }}</td>
          {% if perms.jcu_ball.change_reservation or request.user == res.created_by %}
          <td class="p-0">
            <div class="btn-group btn-group-sm">
              <a href="{% url 'jcu_ball:reservation_edit' pk=res.pk %}" class="btn btn-warning">Edit</a>
              <a href="{% url 'jcu_ball:reservation_delete' pk=res.pk %}" class="btn btn-danger">Delete</a>
            </div>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
      <a class="btn btn-info btn-sm" href="?page=1">&laquo; first</a>
      <a class="btn btn-success btn-sm" href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
      <a class="btn btn-info btn-sm" href="?page={{ page_obj.next_page_number }}">next</a>
      <a class="btn btn-success btn-sm" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
</div>

{% endblock %}